/* Write your code here: */
h1, h2{ /*same style applied to all the selectors*/
    color: blueviolet;
}

.box > p{ /*child selector*/
    color: firebrick;
}

.box li{/*descendant selector*/
    color: blue;
}

li.done{/*chain selector, list item with class "done"*/
    color: seagreen;
}

ul p.done{/*combining the different selectors*/
    font-size: 0.5rem;
}